@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Chewy&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background: linear-gradient(90deg, #000000, #010027, #02006d, #001ea8, #020029);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 510;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.titulo-principal {
    font-family: "Inter", sans-serif;
    color: #ffffff;
    margin-top: 59px;
    margin-left: 100px;
    margin-right: 100px;
}

.botoes-rapidos {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.botao-rapido {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;
    height: 40px;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 20px;
    border: none;
    border-radius: 15px;
    font-family: "Inter", sans-serif;
}

.botao-rapido:hover {
    cursor: pointer;
}

.imagem-botao {
    height: 18px;
    width: 18px;
}

.separador {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    margin-top: 15px;
}

.line {
    flex: 1;
    height: 1px;
    background-color: #ffffff;
}

span {
    color: white;
    font-weight: bold
}

.descricao-input {
    font-family: "Inter", sans-serif;
    color: #ffffff;
}

.formulario-princial {
    display: flex;
    flex-direction: column;
    margin: 8px;
    gap: 10px;
}

.campo-usuario {
    background-color: #f1f1f1;
    border: none;
    height: 30px;
    border-radius: 5px;
    transition: 0.3;
    outline: none;
    border: 2px solid #f1f1f1;
}

.campo-usuario:focus {
    border-color:#072cfc;
    box-shadow: 0 0 10px rgba(33, 150, 243, 0.4);
}

.botao-formulario {
    height: 40px;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 20px;
    border: none;
    border-radius: 15px;
    background-color: #00c2ff;
    font-family: "Inter", sans-serif;
    font-size: 15px;
}

.botao-formulario:hover {
    cursor: pointer;
}

.formulario-div {
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 5px;
}

.formulario-checkbox {
    font-family: "Inter", sans-serif;
    color: #ffffff;
    font-size: 12px;
}

.rodape {
    margin-left: 155px;
    margin-top: 30px;
    font-family: "Inter", sans-serif;
    color: #ffffff;
}